# Importando dados

In [2]:
import sqlite3
import pandas as pd

1. Abrindo conexão com o banco de dados

In [4]:
conn = sqlite3.connect("/home/cristina/Public/projetos/flight_fidelity/db/database.db")

2. Consulta dos dados usando Pandas e SQL

In [5]:
read_table = "SELECT * FROM flight_activity LIMIT 10"
df_action = pd.read_sql_query(read_table, conn)

In [6]:
conn.close()

3. Análise dos dados coletados

In [7]:
df_action.head()

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0